/* Styles for home page */

body {

	background: black;
    background-image: url("homebackground.jpg");
	background-repeat: no-repeat;

}
div.welcome {
	
    height: 30em;
    position: relative 
	
}
div.welcome h6{
	
	cursor:default;
	font-weight:normal;
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;  
    margin: 0;
	font-size: 500%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	padding-bottom: 20px;
	border-bottom: 5px black solid;
	
}
div.welcome p {
	
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;  
    margin: 0;
	font-size: 250%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

div.choices {
	
    height: 30em;
    position: relative 
	
}

@media only screen and (max-width: 1080px) {
    body {
        background-image: url("portraitbackground.jpg");
    }	
	div.welcome {
		height: 60em;
	}
	div.welcome h6{
		font-size: 700%;
	}
	div.welcome p{
		font-size: 400%;
	}
}


a:link    {color: black;}
a:visited {color: black;}
a:hover   {color: white;}
a:active  {color: black;}