/* Styles for home page */

body {

	background: black;
    background-image: url("homebackground.jpg");
	background-repeat: no-repeat;

}

@media only screen and (max-width: 1080px) {
    body {
        background-image: url("portraitbackground.jpg");
    }	
}

div.welcome {
	
    height: 30em;
    position: relative 
	
}
div.welcome p{
	
	cursor:default;
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;  
    margin: 0;
	font-size: 80px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

div.horizline p{
	
	cursor:default;
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;  
    margin: 0;
	font-size: 80px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

div.buttonchoices p{

	cursor:pointer;
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;  
    margin: 0;
	font-size: 30px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

a:link    {color: black;}
a:visited {color: black;}
a:hover   {color: white;}
a:active  {color: black;}
