/* Styles for Resume */

body {

	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("homebackground.jpg");	
    
}

#Title {
	text-align:center;
	font-size: 140%;
	color:#d7d7e0;
	margin-top: 15px;
	margin-bottom: 40px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-color:#d7d7e0;
}
#Categories {
	color:#d7d7e0;
	border-bottom: 2px solid black;
	width: 700px;
	padding-left: 10px;
	border-color: #d7d7e0;
}
#Descriptions {
	color:#d7d7e0;
	margin-bottom: 35px;
	list-style-type: filled circle;
	padding-left: 50px;
}
#ReturnHome {
	
	cursor:pointer;
	text-align: center;
	border-radius: 10px;
	background-color:black;
	color:#d7d7e0;
	width: 200px;
	
}

a:link    {color: #d7d7e0;}
a:visited {color: #d7d7e0;}
a:hover   {color: white;}
a:active  {color: #d7d7e0;}