/* Styles for Resume */

body {

	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("homebackground.jpg");	
    	background-attachment: fixed;
}

@media only screen and (max-width: 1080px) {
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("portraitbackground.jpg");
	background-attachment: fixed;
    }	
}

h1 {
	margin-top: 10px;
	margin-bottom: 0px;
}

h4 {
	margin-top: 5px;
	margin-bottom: 15px;
}

#Title {
	cursor:default;
	text-align:center;
	font-size: 140%;
	color:#d7d7e0;
	margin-top: 15px;
	margin-bottom: 25px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-color:#d7d7e0;
}
#Categories {
	cursor:default;
	color:#d7d7e0;
	padding-left: 50px;
}
#Descriptions {
	cursor:default;
	color:#d7d7e0;
	margin-bottom: 25px;
	list-style-type: filled circle;
	border-bottom: 2px solid black;
	width: 700px;
	padding-bottom: 10px;
	padding-left: 50px;
	border-color: #d7d7e0;
}
#ReturnHome {
	
	cursor:pointer;
	text-align: center;
	border-radius: 10px;
	background-color:black;
	color:#d7d7e0;
	width: 200px;
	
}

a:link    {color: #d7d7e0;}
a:visited {color: #d7d7e0;}
a:hover   {color: white;}
a:active  {color: #d7d7e0;}
