/* Styles for home/login/register */

body {

    background-image: url("homebackground.jpg");
    
}


div.welcome {
	
    height: 30em;
    position: relative 
	
}
div.welcome p {
	
	cursor:default;
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;  
    margin: 0;
	font-size: 80px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

div.horizline p{
	
	cursor:default;
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;  
    margin: 0;
	font-size: 80px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

div.buttonchoices p{
	
	cursor:pointer;
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;  
    margin: 0;
	font-size: 30px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

